.button {
  cursor: pointer;
  align-self: flex-end;
  padding: 10px 12px;
  border: none;
  border-bottom: 0.5px solid #dfc39e;
  border-radius: 5px;
  background-color: #ffffff1a;
  color: #dfc39e;
  transition-duration: 0.5s;
  text-transform: uppercase;
  font-weight: bold;
}
.button:hover {
  transform: scale(0.95);
}
